.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.5em 1em;
}

.header a {
  text-decoration: none;
  color: #fefefe;
  font-size: 1rem;
}

.search-component {
  display: none;
}
